/*h2 {*/
/*    margin-top: 0;*/
/*}*/

h3 {
    text-align: center;
    margin: 0;
}

.tables-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.left-table,
.right-table {
    width: 45%;
    overflow: hidden;
}

.left-table table,
.right-table table {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0;
    border-radius: 15px;
}
tr:nth-child(even) {background-color: #E2F4C5;}


th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.title-background {
    background-color: #ddd;
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: inline-block; /*huh*/
    border: 1px solid black;
}

.button-container {
    text-align: center;
    margin-top: 10px;
    width: 50%;
    margin: 10px auto; /* Center the button container */
}

.button-container button {
    padding: 8px 16px;
    font-size: 18px;
    width: 200px;
}

.navigation-bar {
    background-color: #f0f0f0;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.navigation-bar h2 {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    line-height: 50px; /* Vertically center the text */
    margin-right: 60px; /* Space for the button */
}

.circular-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7ecc7e; /* Example button color */
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-top: 0;
}

.circular-button::after {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the pseudo-element takes up the full height */
}

.selected-button {
    background-color: gray; /* Change to light blue when selected */
    color: white; /* Change text color to white */
}

.bet-button.selected-button:hover {
    background-color: darkgrey; /* Maintain light blue background on hover */
    color: white; /* Maintain white text color on hover */
}

.betting-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%; /* Adjust the width as needed */
}