.App {
  text-align: center;
  background-image: url('./images/football.jpeg');
  backgroundSize: 'cover';
  backgroundPosition: 'center';
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 200px;
  transform: translate(-50%, -50%);
  text-align: center; /* Center the content horizontally */
  z-index: 1; /* Ensure the overlay container is above the background image */
}

.center-container {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 20px; /* Add some padding */
  border-radius: 10px; /* Add border radius */

}

.app-container {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


